
.floatLeft {
  float: left;
  clear: none;
}

.floatRight {
  float: right;
  clear: none;
}

.title {
  font-family: sans-serif;
  font-size: 45px;
  font-style: bold;
  color: #FFFFFF;
}

.login-buttons-dropdown-align- {
  z-index: 2;
  position: absolute;
  right: 250px;
  top: 0;
}

#login-dropdown-list {
  margin-right: 70px;
  padding: 5px;
  border: solid 2px white;
  border-radius: 3px;
}

#login {
  position: absolute;
  top: 5px;
  z-index: 997;
}

.loginControls {
  position: absolute;
  top: 0;
  height: 50px;
  left: 0;
  right: 0;
  background-color: #888888;
  z-index: 3;
}

.editButton {
  text-align: center;
  border: 1px solid #444444;
  background-color: #888888;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 17px;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, .5);
}

/* Organization Styles */

#organizationsContainer {
  position: absolute;
  background-color: #FFCC00;
  width: 50%;
  margin: 0;
  top: 50px;
  left: 0;
  height: 120px;
  z-index: 2;
}

#organizationsContainer > *  {
  margin-left: 10px;
}

#editOrganizationControls {
  display: none;
}

#editOrganizationControls TABLE {
 width: 100%;
}

#editOrganizationControls THEAD {
  text-align: center;
  background: #444444;
  color: #FFCC00;
}

#editOrganizationControls TR :first-child {
  width: 70%;
}

#editOrganizationControls TBODY tr:nth-child(odd) {
  background-color: #FFEE55;
}

.table-striped TBODY tr:nth-child(even) {
  background-color: #
}

/* Details Styles */

.meeting-button {
	margin: 5px;
	color: white !important;
}

#meetings-table-container {
  max-height: 500px;
  width: 100%;
  overflow-y: scroll;
}

.table-striped TBODY tr:nth-child(odd),
.table-striped TBODY tr:nth-child(odd) A {
  background-color: #FFFFFF;
  color: #444444;
}

.table-striped TBODY tr:nth-child(odd) td .table-striped {
  border-color: #2D3538;
}

.table-striped TBODY tr:nth-child(even) {
  background-color: #2D3538;
  color: #FFF;
}

/* Message Styles */
.message {
  padding: 5px;
  margin: 5px;
}

.messageHeader {
  font-style: italic;
  color: #444444;
  font-size: small;
  margin-bottom: 7px;
}

.navbar-fixed-bottom {
  min-height: 130px;
}

#messageControls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 1;
}

#commandDropdown {
  display: inline-block;
  position: relative;;
  margin-top: 2px;
  background: black;
}

#commandDropdown .dropdown-menu > li {
  color: white ;
  background-color: black;
  cursor: pointer;
}

#commandMenu {
  min-width: 250px;
}

.separator {
  background-color: black;
  border-bottom: solid 1px white;
}

.separator H4 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
  color: #8888CC;
}

.disabled {
  color: gray !important;
  cursor: not-allowed !important;
}

#newMessage {
  width: 100%;
}

#removeFromQueue {
  width: 20px;
}

#recognize {
  width: 35px;
}

#personInQueue {
  width: auto;
}

.navbar-collapse.collapse {
    display: block !important;
}

.navbar-nav>li, .navbar-nav {
    float: left !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right !important;
}

#messagesHeader {
  background-color: rgba(0, 10, 50, .8);
  border-bottom: solid 1px white;
}

#messages {
  padding-top: 163px;
  padding-bottom: 185px;
  min-height: 1000px;
  display: block;
}

#messagesFooter {
  background-color: rgba(0, 10, 50, .8);
  border-top: solid 1px white;
}

.finalVoteTallyCarry {
  border: 5px solid #880000;
}

.finalVoteTallyFail {
  border: 5px solid #008800;
}

.navbar {
  z-index: auto !important;
}

#voteModal .modal-dialog .modal-content .modal-body {
  padding: 25px;
}

.bg-danger,
.bg-success {
  color: rgb(51, 51, 51);
  padding: 15px;
  margin: 10px;
}

.tooltip {
  z-index: 1001;
  pointer-events: none;
  transition: opacity .1s ease-out;
  opacity: 0;
}

.tooltip.hide {
  opacity: 0;
}

.tooltip.show {
  opacity: 1;
}
