.Privileged {
	background-color: rgba(30, 47, 75, .8);
}

.Privileged .messageHeader {
	color: lightgrey;
	border-bottom: 1px solid grey;
}

.Administrative {
	background-color: rgba(97, 98, 56, .8);
}

.Administrative .messageHeader {
	color: lightgrey;
	border-bottom: 1px solid grey;
}

.Subsidiary {
	background-color: rgba(89, 58, 29, .8);
}

.Subsidiary .messageHeader {
	color: lightgrey;
	border-bottom: 1px solid grey;
}

.Main {
	background-color: rgba(74, 37, 31, .8);
	color: white
}

.Main .messageHeader {
	color: lightgrey;
	border-bottom: 1px solid white;
}

.Incidental {
	background-color: rgba(64, 44, 54, .8);
	color: white
}

.Incidental .messageHeader {
	color: lightgrey;
	border-bottom: 1px solid white;
}

.Revisit {
	background-color: rgba(153, 101, 21, .8);
	color: white
}

.Revisit .messageHeader {
	color: lightgrey;
	border-bottom: 1px solid white;
}

.agendaBox {
	position: fixed;
  right: 0px;
	background-color: rgba(55, 55, 55, .8);
	max-width: 250px;
}
.agendaBox TD,
.agendaBox TH
{
	padding: 5px;
}

#voteModal
{
	z-index: 1041;
}

.dropdown-menu > .disabled{
 cursor: not-allowed;
}

/* The real magic ;) */
.dropdown-menu > .disabled > a{
 pointer-events: none;
 color: #666666 !important;
}
