.CallMeetingToOrder {
	background-color: rgba(75, 175, 75, .5);
}

.CallMeetingToOrder .messageHeader {
	color: lightgrey;
	border-bottom: 1px solid grey;
}

.MakeAStatement {
	background-color: rgba(55, 55, 150, .5);
}

.MakeAStatement .messageHeader {
	color: lightgrey;
	border-bottom: 1px solid grey;
}

.OpenAgendaItem {
	background-color: rgba(25, 75, 25, .5);
}

.OpenAgendaItem .messageHeader {
	color: lightgrey;
	border-bottom: 1px solid grey;
}

.agendaBox {
	position: fixed;
  right: 32px;
	background-color: rgba(55, 55, 55, .8);
	max-width: 250px;
}
.agendaBox TD,
.agendaBox TH
{
	padding: 5px;
}
