<template name="aboutTemplate">
	<h3>Democracy and the Internet</h3>
	<p>Since the beginning of the Internet it has been heralded for its revolutionary democratic potential. We believe that
	this potential still exists but it may not last forever. Although civil society has been extraordinarily creative in using
	the Internet for positive social change we believe that it could lead more — and not always take its cues from
	business.</p>
	<p>Although many approaches to communication can be found online, deliberation seems to be rarely supported.
	Unfortunately many online discussions seem to have no resolution or, worse degenerate into "flame wars" that
	make any cooperation impossible.</p>

	<h3>e-Liberate</h3>
	<p>Motivated by a desire to help make online discussions more productive—particularly among civil society groups
	who are striving to create more "civic intelligence" in our society—we have been developing e-Liberate, an online
	system that will allow people in different locations to come together virtually using the internet. We believe that
	face-to-face meetings are still very important but appropriate use of e-Liberate can help organizations with limited
	resources. Our hope is that non-profit groups will use e-Liberate to save time and money on travel and use the
	resources they save on other important activities.</p>
	<p>e-Liberate is currently a text-based system. One of the advantages of this is that a transcript of the meeting is
	created almost as side-effect of having the meeting. The system employs a straightforward user interface which is
	educational as well as facilitative. The interface shows, for example, only the legal actions that are available to the
	users at that specific time in the meeting (a user, for example, isn't allowed to second a motion when there is no
	motion before the assembly that needs to be seconded).</p>

	<h3>Testing e-Liberate</h3>
	<p>We at the Public Sphere Project are now beginning to work with groups who are interested in trying the system to
	support actual meetings. We are enthusiastic about the system but we are well aware that the system as it stands
	may have problems that need fixing. It is for that reason that we plan to host a small number of meetings over the
	next few months and gather feedback from attendees. Our current plan is to make e-Liberate freely available for
	online meetings in the near future and to release the software under a free software license at some point in the
	not-too-distant future.</p>

	<h3>Using e-Liberate</h3>
	<p>It is our intent to make e-Liberate easy to use. e-Liberate provides cues to permissible actions (and online help for
	all features is high on our things to do list). Using of e-Liberate is intended to be educational; we believe that
	meeting attendees will become more knowledgeable about Roberts Rules and the use of e-Liberate over time
	through normal use of the system. Having said that, however, it is still important to acknowledge that some
	knowledge of—and experience with—Roberts Rules is critical to successful participation in e-Liberate meetings.
	Groups intending to use e-Liberate should work to ensure that all meeting attendees have basic understanding of
	the various motions the basic rules. Additionally, the meeting chair should be prepared to assist attendees
	whenever possible. We also will strive to be available to assist even though this is primarily a volunteer activity.
	Finally, we are developing a users manual that will explain how the system works and give a brief introduction to
	Roberts Rules.</p>

	<h3>A Few Words on Roberts Rules of Order</h3>
	<p>In his 1996 book New Community Networks Douglas Schuler proposed that Roberts Rules of Order could be
	used as a basis for online deliberation. Roberts Rules of Order was developed by Henry Robert in the late 1800s
	to describe an orderly process for people meeting together face-to-face to make decisions fairly. One of the most
	important guideline was that although every attendee would have opportunities to make his or her ideas heard,
	the minority could not prevent the majority from making decisions. Robert labored over the "rules" for 30 years
	and they are now in daily use by tens of thousands of deliberative bodies worldwide. One of the interesting things
	that we have learned about Roberts Rules is that the process seems to scale up: small groups of 5 or so can use
	this approach as can groups numbering in the hundreds.</p>

	<h3>A Little History</h3>
	<p>n 1999 a team of students at The Evergreen State College developed the first prototype of an online version of
	Roberts Rules of Order. This was later presented at the Directions and Implications of Advanced Computing
	symposium by John Adams and Matt Powell in 200l. In 2003 Evergreen student Nathan Clinton, working with
	Schuler, designed and implemented the first workable system. Clinton and Schuler named the system e-Liberate,
	which rhymes with deliberate (the verb). The current version, also developed by Clinton, uses the Meteor
	framework and client-side processing to help ensure realtime updates for all attendees.</p>

	<h3>How You Can Help</h3>
	<p>There are other ways of helping this work in addition to using e-Liberate and providing feedback. Most of the
	development so far has been done by volunteers. As we move forward we expect that our work load will increase
	—and our expenses will rise as well. In other words, your tax-deductible donations could help us work more
	effectively with future work. This future work includes developing the online help system that actually lets people
	know when and how to use the various "motions" in Roberts Rules; adding support for other deliberative
	protocols, including extensions and modifications to Roberts Rules; finishing the users manual; and designing
	other deliberative configurations (e.g. support for smart phone use).</p>

	<h3>Thank you!</h3>
	<p>Thank you very much for your interest in e-Liberate! We hope that it will help you and your organization as you
	strive to build a better tomorrow. Please let us know if you have any questions, concerns or ideas related to e-
	Liberate.</p>

	<h3>Links</h3>
	<p><a href="http://odbook.stanford.edu/static/filedocument/2009/11/15/Chapter_26._Schuler.pdf">Online Civic Deliberation with E-Liberate</a></p>
	<p><a href="http://publicsphereproject.org/content/online-deliberation-7">Online Deliberation pattern</a></p>
	<p><a href="http://www.publicsphereproject.org/content/online-community-service-engine">Online Community Service Engine pattern</a></p>
	<p><a href="http://eliberate.publicsphereproject.org/">e-Liberate system</a></p>
	<br />
	<p>The Public Sphere Project is an educational non-profit organization with a 501.c.3 designation. Donations from
	US taxpayers are tax-deductible.</p>
</template>
