<template name="meetingTemplates">
  <div id="meetingContent">
    {{> meetings}}
  </div>
</template>

<template name="meetings">
  <div id="meetings-table-container">
    <table id="meetings" class="table table-responsive">
      <thead>
        <tr>
          <th>
          </th>
          <th>
            Meeting Title
          </th>
          <th>
            Starts
          </th>
          <th>
            Ends
          </th>
          <th>
            Status
          </th>
          <th>
            Rule Set
          </th>
          <th>
            Agenda
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each meetings}}
          <tr>
            <td>
              <div id="editMeeting"> <i class="fa fa-cog"></i> </div>
            </td>
            <td>
              <a href="#" id="meetingId">{{name}}</a>
            </td>
            <td>
              {{prettifyDate startDateTime}}
            </td>
            <td>
              {{prettifyDate endDateTime}}
            </td>
            <td>
              {{status}}
            </td>
            <td>
              {{ruleset}}
            </td>
            <td>
              <div id="editMeetingControlsContainer">
                <div class="row">
                  <table id="meetings" class="table table-responsive">
                    <thead>
                      <tr>
                        <th>
                        </th>
                        <th>
                          Agenda Items
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each agenda}}
                        <tr>
                          <td>
                            <div id="editAgenda"> <i class="fa fa-cog"></i> </div>
                          </td>
                          <td>
                            {{name}}
                          </td>
                        </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    Add Agenda Item
                    <input type="text" id="agendaContent" />
                    <input type="button" class="btn btn-primary" id="addAgendaItem" value="Add" />
                  </div>
                </div>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>

      <tfoot>
        {{> meetingControls}}
      </tfoot>
    </table>
  </div>
</template>

<template name="meetingControls">
        <tr>
          <td>
            New Meeting
          </td>
          <td>
            <input type="text" id="newMeetingName" />
          </td>
          <td>
            <input type="date" id="newMeetingStartDate" />
    				<input type="time" id="newMeetingStartTime" />
          </td>
          <td>
            <input type="date" id="newMeetingEndDate" />
    				<input type="time" id="newMeetingEndTime" />
          </td>
          <td>
            <select id="newRuleset">
              {{#each allRulesets}}
              <option value="{{this}}">{{this}}</option>
      				{{/each}}
            </select>
          </td>
          <td colspan="2">
				    <input type="button" class="btn btn-primary" id="newMeetingSubmit" value="Submit" />
          </td>
        </tr>
</template>

<template name="meetingSidebar">
	{{#if meetingsExist}}
		<hr />
		<h4>Upcoming Meetings</h4>
		{{#each activeAndUpcomingMeetings}}
			<a class="btn btn-default meeting-button" style="text-align: left;" >
				{{name}}
				<div><i class="fa fa-clock-o icon-white"></i> {{prettifyDate startDateTime}}</div>
				<div><i class="fa fa-gavel icon-white"></i> {{status}}</div>
				<div><i class="fa fa-users"></i> {{attendance}} in Attendance</div>
			</a>
		{{/each}}
	{{/if}}
</template>
