<template name="meetingsTemplates">
  <div id="meeting-validator-summary" style="display: none;" class="alert alert-danger"></div>
  <div id="meetingContent">
    <div id="meetings-table-container">
      <table id="meetings" class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>
              Meeting Title
            </th>
            <th>
              Starts
            </th>
            <th>
              Ends
            </th>
            <th>
              Status
            </th>
            <th>
              Rule Set
            </th>
            <th>
              Agenda
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each meetings}}
            <tr>
              <td>
                <a href="#" id="meetingId">{{name}}</a>
                <input type="text" id="meeting-name-txt" style="display: none;" value="{{name}}" />
              </td>
              <td>
                {{prettifyDate startDateTime}}
                <input type="date" id="meeting-start-date" style="display: none;" value="{{startDate}}" />
                <input type="time" id="meeting-start-time" style="display: none;" value="{{startTime}}" />
              </td>
              <td>
                {{prettifyDate endDateTime}}
                <input type="date" id="meeting-end-date" style="display: none;" value="{{endDate}}" />
                <input type="time" id="meeting-end-time" style="display: none;" value="{{endTime}}" />
              </td>
              <td>
                {{status}}
              </td>
              <td>
                {{ruleset}}
              </td>
              <td>
                <div id="editMeetingControlsContainer">
                  <div class="row">
                    <table id="meetings" class="table table-striped table-condensed">
                      <thead>
                        <tr>
                          <th>
                            Agenda Items
                          </th>
                        </tr>
                        <th>
                        </th>
                      </thead>
                      <tbody>
                        {{#each agenda}}
                          <tr>
                            <td>
                              {{name}}
                            </td>
                            <td>
                              {{#if isAdmin}}
                  						<i id="agenda-name-edit" class="fa fa-pencil"></i>
                  						<i id="agenda-name-save" style="display: none;" class="fa fa-floppy-o"></i>
                  						<i id="agenda-name-delete" style="display: none;" class="fa fa-trash"></i>
                  						<i id="agenda-name-cancel" style="display: none;" class="fa fa-close"></i>
                  						{{/if}}
                            </td>
                          </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  </div>
                  {{#if isAdmin}}
                  <div class="row">
                    <div class="col-sm-12">
                      Add Agenda Item
                      <input type="text" id="agendaContent" />
                      <input type="button" class="btn btn-primary" id="addAgendaItem" value="Add" />
                    </div>
                  </div>
                  {{/if}}
                </div>
              </td>
              <td>
    						{{#if isAdmin}}
    						<i id="meeting-name-edit" class="fa fa-pencil"></i>
    						<i id="meeting-name-save" style="display: none;" class="fa fa-floppy-o"></i>
    						<i id="meeting-name-delete" style="display: none;" class="fa fa-trash"></i>
    						<i id="meeting-name-cancel" style="display: none;" class="fa fa-close"></i>
    						{{/if}}
    					</td>
            </tr>
          {{/each}}
        </tbody>
        {{#if isAdmin}}
        <tfoot>
          <tr>
            <td>
              New Meeting
            </td>
            <td>
              <input type="text" id="newMeetingName" />
            </td>
            <td>
              <input type="date" id="newMeetingStartDate" />
      				<input type="time" id="newMeetingStartTime" />
            </td>
            <td>
              <input type="date" id="newMeetingEndDate" />
      				<input type="time" id="newMeetingEndTime" />
            </td>
            <td>
              <select id="newRuleset">
                {{#each allRulesets}}
                <option value="{{this}}">{{this}}</option>
        				{{/each}}
              </select>
            </td>
            <td colspan="2">
  				    <input type="button" class="btn btn-primary" id="newMeetingSubmit" value="Submit" />
            </td>
          </tr>
        </tfoot>
        {{/if}}
      </table>
    </div>
  </div>
</template>

<template name="meetingSidebar">
	{{#if meetingsExist}}
		<hr />
		<h4>Upcoming Meetings</h4>
		{{#each activeAndUpcomingMeetings}}
			<a class="btn btn-default meeting-button" style="text-align: left;" >
				{{name}}
				<div><i class="fa fa-clock-o icon-white"></i> {{prettifyDate startDateTime}}</div>
				<div><i class="fa fa-gavel icon-white"></i> {{status}}</div>
				<div><i class="fa fa-users"></i> {{attendance}} in Attendance</div>
			</a>
		{{/each}}
	{{/if}}
</template>
