<template name="meetingTemplates">
  <div id="meetingContent">
    {{> meetings}}
    {{> meetingControls}}
  </div>
</template>

<template name="meetings">
  <table id="meetings" class="table table-responsive">
    <thead>
      <tr>
        <th>
          Meeting Title
        </th>
        <th>
          Starts
        </th>
        <th>
          Ends
        </th>
        <th>
          Rule Set
        </th>
      </tr>
    </thead>              
    <tbody>        
      {{#each meetings}}
        <tr>
          <td>
            <a href="#" id="meetingId">{{name}}</a>
          </td>
          <td>
            {{prettifyDate startDateTime}}
          </td>
          <td>
            {{prettifyDate endDateTime}}
          </td>
          <td>
            {{ruleset}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>

<template name="meetingControls">
	<div id="meetingControls">
		<div class="row">
			<div class="col-sm-12">New Meeting <input type="text" id="newMeetingName" /></div>
		</div>
		<div class="row">
			<div class="col-sm-2">Start Date &amp; Time</div>
			<div class="col-sm-4">
				<input type="date" id="newMeetingStartDate" />
				<input type="time" id="newMeetingStartTime" />
			</div>
			<div class="col-sm-2">End Date &amp; Time</div>
			<div class="col-sm-4">
				<input type="date" id="newMeetingEndDate" />
				<input type="time" id="newMeetingEndTime" />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<input type="hidden" id="ruleset" />
				<div id="rulesetDropdown" class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span id="rulesetSelected">Select a ruleset</span>
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
						{{#each allRulesets}} 
						<li><a href="#">{{this}}</a></li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<input type="button" class="btn btn-primary" id="newMeetingSubmit" value="Submit" />
			</div>
		</div>
	</div>
</template>

<template name="meetingSidebar">
	{{#if meetingsExist}}
		<hr />
		<h4>Upcoming Meetings</h4>
		{{#each activeAndUpcomingMeetings}}
			<a class="btn btn-default meeting-button" style="text-align: left;" >
				{{name}} 
				<div><i class="fa fa-clock-o icon-white"></i> {{prettifyDate startDateTime}}</div> 
				<div><i class="fa fa-gavel icon-white"></i> {{status}}</div>
				<div><i class="fa fa-users"></i> {{attendance}} in Attendance</div>
			</a>
		{{/each}}
	{{/if}}
</template>