<template name="messageTemplates">
  {{#with meeting}}
    <nav id="messagesHeader" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <h2>
      	{{name}}
        </h2>
        <div class="row">
      	<div class="col-sm-4">
      		<i class="fa fa-clock-o icon-white"></i> {{prettifyDate startDateTime}}
      	</div>
      	<div class="col-sm-4">
      		<i class="fa fa-cog"></i> {{ruleset}}
      	</div>
      	<div class="col-sm-4">
      		<i class="fa fa-users"></i> {{attendance}} in Attendance
      	</div>
        </div>
      </div>
    </nav>
    <div id="messages" class="container-fluid">
      {{> Template.dynamic template=rulesetMessages data=meetings }}
    </div>
  {{/with}}
</template>
