<template name="robertsRulesOfOrderMessages">
  <table id="agenda" class="agendaBox">
    <thead>
      <tr>
        <th>
        </th>
        <th>
          Agenda Items
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each agenda}}
        <tr>
          <td>
            <i class="fa fa-cog"></i>
          </td>
          <td>
            {{name}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#each meetingMessages}}
    <div class="message {{actionType}}">
      <div class="messageHeader">
        Posted by
        {{#if this.userName}}
        	{{userName}}
        {{else}}
      	  {{#if this.email}}
  	        {{email}}
  	      {{else}}
  	        Unknown
  	      {{/if}}
        {{/if}}
        @ {{prettifyDate dateTime}}
      </div>
	  {{#markdown}}{{body}}{{/markdown}}
    </div>
  {{/each}}
</template>



<template name="robertsRulesOfOrderControls">
	{{#if hasTheFloor}}
		<div class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">x</a>
			You have the floor!
		</div>
	{{/if}}
	<div class="row">
		<div class="col-sm-4">
			<h5 id="inputLabel"></h5>
			<textarea id="newMessage"></textarea><br />
			<input type="button" id="newMessageSubmit" class="btn btn-default" value="Submit" />
			<button type="button" id="messagePreviewButton" class="btn btn-default show-modal" data-modal="preview">Preview Your Message</button>
		</div>
			<div class="col-sm-4">
				<input type="hidden" id="ruleset" />
				<div id="actionDropdown" class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span id="actionSelected">Things you can do</span>
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
						{{#each actions}}
						<li><a href="#">{{this}}</a></li>
						{{/each}}
					</ul>
				</div>
			</div>
		<div class="col-sm-4">
			<h5>Queue for the Floor</h5>
			<div id="queue">
				{{#each queue}}
					{{userName}}<br />
				{{/each}}
			</div>
			<input type="button" id="enterQueue" class="btn btn-default" value="Request the Floor" />
		</div>
	</div>
</template>
