<template name="robertsRulesOfOrderMessages">
  <table id="agenda" class="agendaBox">
    <thead>
      <tr>
        <th colspan="2">
          Agenda Items
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each agenda}}
        <tr>
          <td>
            <i class="fa {{statusIcon}}"></i>
          </td>
          <td>
            {{#if agendaOccurred}}
              <a href="#{{name}}">{{name}}</a>
            {{else}}
              {{name}}
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#each meetingMessages}}
    {{> Template.dynamic template=commandTemplate data=this }}
  {{/each}}
</template>

<template name="robertsRulesOfOrderStandardCommand">
  <div class="message {{commandType}}">
    <div class="messageHeader">
      Posted by {{userName}} <i class="fa fa-clock-o"></i> {{prettifyDate dateTime}}
    </div>
    <h5>{{commandDisplayName}}</h5>
  {{#markdown}}{{statement}}{{/markdown}}
  </div>
</template>

<template name="CallMeetingToOrderCommand">
  {{> Template.dynamic template="robertsRulesOfOrderStandardCommand" data=this }}
</template>

<template name="OpenAgendaItemCommand">
  <a name="{{agendaName}}"></a>
  <div class="message {{commandType}}">
    <div class="messageHeader">
      Posted by {{userName}} <i class="fa fa-clock-o"></i> {{prettifyDate dateTime}}
    </div>
    <h5>{{commandDisplayName}} '{{agendaName}}'</h5>
  {{#markdown}}{{statement}}{{/markdown}}
  </div>
</template>

<template name="MakeAStatementCommand">
  <div class="message {{commandType}}">
    <div class="messageHeader">
      Posted by {{userName}} <i class="fa fa-clock-o"></i> {{prettifyDate dateTime}}
    </div>
  {{#markdown}}{{statement}}{{/markdown}}
  </div>
</template>

<template name="OpenTheFloorToDebateCommand">
  {{> Template.dynamic template=robertsRulesOfOrderStandardCommand data=this }}
</template>

<template name="robertsRulesOfOrderControls">
	{{#if hasTheFloor}}
		<div class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">x</a>
			You have the floor!
		</div>
	{{/if}}
	<div class="row">
		<div class="col-sm-4">
			<textarea id="newMessage"></textarea><br />
			<input type="button" id="newMessageSubmit" class="btn btn-default" value="Submit" {{allowToSubmit}}/>
			<button type="button" id="messagePreviewButton" class="btn btn-default show-modal" data-modal="preview">Preview Your Message</button>
		</div>
			<div class="col-sm-4">
				<input type="hidden" id="ruleset" />
				<div id="commandDropdown" class="btn-group dropup">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span id="commandSelected">Things you can do</span>
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
						{{#each commands}}
						<li><a href="#">{{this}}</a></li>
						{{/each}}
					</ul>
				</div>
			</div>
		<div class="col-sm-4">
			<h5>Queue for the Floor</h5>
			<div id="queue">
				{{#each queue}}
					{{userName}}<br />
				{{/each}}
			</div>
			<input type="button" id="enterQueue" class="btn btn-default" value="Request the Floor" />
		</div>
	</div>
</template>
