<template name="robertsRulesOfOrderMessages">
  {{#if Template.subscriptionsReady}}
    <table id="agenda" class="agendaBox">
      <thead>
        <tr>
          <th colspan="2">
            Agenda Items
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each agenda}}
          <tr>
            <td>
              <i class="fa {{statusIcon}}"></i>
            </td>
            <td>
              {{#if agendaOccurred}}
                <a href="#{{name}}">{{name}}</a>
              {{else}}
                {{name}}
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{#each meetingMessages}}
      {{> Template.dynamic template=commandTemplate data=this }}
    {{/each}}
    <nav id="messagesFooter" class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        {{> robertsRulesOfOrderControls}}
      </div>
    </nav>
  {{else}}
    <div id="meeting_loading">
      <div id="spinner_container">
        <h1><i class='fa fa-spinner fa-spin'></i></h1>
      </div>
    </div>
  {{/if}}
</template>

<template name="robertsRulesOfOrderStandardCommand">
  <div class="message {{commandType}}">
    <div class="messageHeader">
      Posted by {{userName}} <i class="fa fa-clock-o"></i> {{prettifyDate dateTime}}
    </div>
    <h5>{{commandDisplayName}}</h5>
  {{#markdown}}{{statement}}{{/markdown}}
  </div>
</template>

<template name="robertsRulesOfOrderVotableCommand">
  <div class="message {{commandType}}">
    <div class="messageHeader">
      Posted by {{userName}} <i class="fa fa-clock-o"></i> {{prettifyDate dateTime}}
    </div>
    <h5>{{commandDisplayName}}</h5>
    {{#markdown}}{{statement}}{{/markdown}}
    {{#if needsSecond}}
      <strong>A second is required</strong>
      {{#if canSecond}}
        <input type="button" class="btn btn-primary" id="second" value="Second" />
      {{/if}}
      {{#if canKillMotion}}
        <input type="button" class="btn btn-primary" id="killMotion" value="Kill the Motion" />
      {{/if}}
    {{/if}}
    {{#if motionNotSeconded}}
      <strong>The motion was not seconded</strong>
    {{/if}}
    {{#if seconded}}
      <strong>Seconded by {{secondedBy}}</strong>
    {{/if}}
  </div>
</template>

<template name="PutToVoteCommand">
  <div class="message {{commandType}}">
    <div class="messageHeader">
      Posted by {{userName}} <i class="fa fa-clock-o"></i> {{prettifyDate dateTime}}
    </div>
    <h5>{{commandDisplayName}}</h5>
    {{#markdown}}{{statement}}{{/markdown}}

    <h5>Motion Put to Vote</h5>
    {{> Template.dynamic template="robertsRulesOfOrderStandardCommand" data=motionPutToVote }}

    {{#if inVote}}
      <div><strong>The motion is currently under vote</strong></div>
      <div class="row">
        <div class="col-sm-1">
          Aye Votes: {{aye}}
        </div>
        <div class="col-sm-1">
          Nay Votes: {{nay}}
        </div>
        <div class="col-sm-1">
          Abstained: {{abstain}}
        </div>
      </div>
      {{#if canVote}}
        <input type="button" class="btn btn-primary" id="vote" value="Vote" />
      {{else}}
        <div>You voted: <strong>{{yourVote}}</strong></div>
      {{/if}}
    {{/if}}
    {{#if approved}}
      <div class="bg-success"><strong>Motion carried with a vote of {{aye}} for, {{nay}} against, and {{abstain}} abstaining.</strong></div>
    {{/if}}
    {{#if denied}}
      <div class="bg-success"><strong>Motion not carried with a vote of {{denied}} against, {{aye}} for, and {{abstain}} abstaining.</strong></div>
    {{/if}}
    </div>
    {{#if requiresVote}}
    <div id="voteModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
             <h4 class="modal-title">A {{VoteType}} vote is required</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="messageHeader">
                Posted by {{userName}} <i class="fa fa-clock-o"></i> {{prettifyDate dateTime}}
              </div>
              <h5>{{commandDisplayName}}</h5>
              {{#markdown}}{{statement}}{{/markdown}}
            </div>
            <div class="row">
              <div class="col-sm-3">
                <input type="button" class="btn btn-primary" id="aye" value="Aye" />
              </div>
              <div class="col-sm-3">
                <input type="button" class="btn btn-primary" id="nay" value="Nay" />
              </div>
              <div class="col-sm-3">
                <input type="button" class="btn btn-primary" id="abstain" value="Abstain" />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                Aye Votes: {{aye}}
              </div>
              <div class="col-sm-3">
                Nay Votes: {{nay}}
              </div>
              <div class="col-sm-3">
                Abstained: {{abstain}}
              </div>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    <script language="javascript">
      // Show the modal if it's not already shown
      if(!$('#voteModal').hasClass('in'))
        $('#voteModal').modal({
          backdrop: 'static',
          keyboard: false
        });
      }
    </script>
  {{/if}}
</template>

<template name="CallMeetingToOrderCommand">
  {{> Template.dynamic template="robertsRulesOfOrderStandardCommand" data=this }}
</template>

<template name="OpenAgendaItemCommand">
  <a class="agena-link" name="{{agendaName}}"></a>
  <div class="message {{commandType}}">
    <div class="messageHeader">
      Posted by {{userName}} <i class="fa fa-clock-o"></i> {{prettifyDate dateTime}}
    </div>
    <h5>{{commandDisplayName}} '{{agendaName}}'</h5>
  {{#markdown}}{{statement}}{{/markdown}}
  </div>
</template>

<template name="MakeAStatementCommand">
  <div class="message {{commandType}}">
    <div class="messageHeader">
      Posted by {{userName}} <i class="fa fa-clock-o"></i> {{prettifyDate dateTime}}
    </div>
  {{#markdown}}{{statement}}{{/markdown}}
  </div>
</template>

<template name="OpenTheFloorToDebateCommand">
  {{> Template.dynamic template="robertsRulesOfOrderStandardCommand" data=this }}
</template>

<template name="AdjournTheMeetingCommand">
  {{> Template.dynamic template="robertsRulesOfOrderVotableCommand" data=this }}
</template>

<template name="MotionCommand">
  {{> Template.dynamic template="robertsRulesOfOrderVotableCommand" data=this }}
</template>

<template name="robertsRulesOfOrderControls">
	{{#if hasTheFloor}}
		<div class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">x</a>
			You have the floor!
		</div>
	{{/if}}
	<div class="row">
		<div class="col-sm-4">
			<textarea id="newMessage"></textarea><br />
			<input type="button" id="newMessageSubmit" class="btn btn-default" value="Submit" {{allowToSubmit}}/>
			<button type="button" id="messagePreviewButton" class="btn btn-default show-modal" data-modal="preview">Preview Your Message</button>
		</div>
			<div class="col-sm-4">
				<input type="hidden" id="ruleset" />
				<div id="commandDropdown" class="btn-group dropup">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span id="commandSelected">Things you can do</span>
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
						{{#each commands}}
						<li><a href="#">{{this}}</a></li>
						{{/each}}
					</ul>
				</div>
			</div>
		<div class="col-sm-4">
			<h5>Queue for the Floor</h5>
			<div id="queue">
				{{#each queue}}
					{{userName}}<br />
				{{/each}}
			</div>
			<input type="button" id="enterQueue" class="btn btn-default" value="Request the Floor" />
		</div>
	</div>
</template>
