<template name="talkingStickMessages">
  {{#each meetingMessages}}
    <div class="message" style="background-color:{{backgroundColor}}">
      <div class="messageHeader">
        Posted by
        {{#if this.userName}}
        	{{userName}}
        {{else}}
      	  {{#if this.email}}
  	        {{email}}
  	      {{else}}
  	        Unknown
  	      {{/if}}
        {{/if}}
        @ {{prettifyDate dateTime}}
      </div>
	  {{#markdown}}{{body}}{{/markdown}}
    </div>
  {{/each}}
</template>

<template name="talkingStickControls">
	{{#if isYourTurn}}
		<div class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">x</a>
			It's your turn with the talking stick!
		</div>
	{{/if}}
	<div class="row">
		<div class="col-sm-8">
			<h5>New Message</h5>
			<textarea id="newMessage"></textarea><br />
			<input type="button" id="newMessageSubmit" class="btn btn-default" value="Submit" />
			<button type="button" id="messagePreviewButton" class="btn btn-default show-modal" data-modal="preview">Preview Your Message</button>
		</div>
		<div class="col-sm-4">
			<h5>Talking Stick Queue</h5>
			<div id="queue">
				{{#each queue}}
					{{userName}}<br />
				{{/each}}
			</div>
			<input type="button" id="enterQueue" class="btn btn-default" value="Request the Talking Stick" />
		</div>
	</div>
</template>
