<template name="talkingStickMessages">
  {{#each meetingMessages}}
    <div class="message">
      <div class="messageHeader">
        Posted by 
        {{#if this.userName}}
        	{{userName}}
        {{else}} 
      	  {{#if this.email}}
  	        {{email}}
  	      {{else}}
  	        Unknown
  	      {{/if}}
        {{/if}} 
        @ {{prettifyDate dateTime}}
      </div>
      {{body}}      
    </div>
  {{/each}}
</template>

<template name="talkingStickControls">
  <div class="floatRight">
    <p>Talking Stick Queue</p>
    <div id="queue">
      {{#each queue}}
        {{userName}}<br />
      {{/each}}
    </div>
    <input type="button" id="enterQueue" value="Request the Talking Stick" />
  </div>
  <div>
    <p>New Message {{#if isYourTurn}}<div class="alert">It's your turn with the talking stick!</div>{{/if}}</p>
    <textarea id="newMessage"></textarea><br />
    <input type="button" id="newMessageSubmit" value="Submit" />
  </div>
</template>